.inline {
    display: inline-block;
}
.body{
    background-color: #161616;
}
.view {

}
.sub-button {
    margin-left: 15px;
}
#radioSelectors{

}

h2 {
    text-align: center;
}

.inner-wrapper{
    margin-left: 20px;
    padding-left: 60px;
}

.footnote{
    font-size: 10px;
    font-style: italic;
    font-family: sans-serif;
}
.title{
    justify-content:center;
}
.mainCol{
    
    justify-content:center;
}
.row{
    margin-top: 10px;
}
.textWrapper{
    justify-content:center;
    width: 700px;
    min-height: 152px;
    text-align: center;
}
#income-presentation-buttons-div{
    width: 100%;
}

.buffer-top{
    margin-top: 50px;
}
.button-control {
   border-style: solid;
   border-width: 1px;
   border-color: darkgray;
   border-radius: 4px;
   width: 60px;
   height: 40px;
}
.btn{

}
.text{
    color:lightgray;

}

text{
    fill:lightgray;
}
.button-group{
    margin-left: 20px;
    margin-right: 20px;
}
svg{
    display: block;
    margin: auto;
}
p{
    text-align: center;
}
#yearslider{
    margin-top: 20px;
}
#aggregateBarsDiv{
    margin-top: 40px;
}
#yearWrapper{
    
    margin-top:50px;
}