.inline {
    display: inline-block;
}

.view {
    width: 810px;
    /*margin: auto;*/
    padding: 5px;
    display: inline-block;

}

.sub-button {
    margin-left: 15px;
}
#radioSelectors{
	margin-left: 60px;
}
#incomeLineDiv{
	margin-left: 60px;
}